@use "sass:map";
@import "../../../sass/variables.module.scss";

nav.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;

  @media print {
    display: none;
  }

  & > span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    @media screen and (min-width: map.get($grid-breakpoints, "md")) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  & > ul {
    margin-left: 0.5rem;
    display: flex;
    gap: 0.75rem;
    list-style: none;
    flex-wrap: wrap;
    max-height: 24px;

    @media screen and (min-width: map.get($grid-breakpoints, "md")) {
      gap: 1rem;
    }
  }

  @media screen and (min-width: map.get($grid-breakpoints, "md")) {
    margin-top: 0;
  }
}
